@charset "utf-8";

/* Stili riguardanti le pagine da loggato */

#main {
	@media screen and (min-width: 1023px) {
		margin-left: 200px; // 200 - 12 (pixel di padding di default sulle colonne)
	}

	// Stile per il box dei logs.

	#logs-box{
		height: 500px;
		overflow-y: scroll;
		font-family: Courier, monospace;

		// Aggiungo spaziatura a sinistra e icona da css, fatto da css per far in modo che clipboardjs non copi le icone e abbiano tutte lo stesso spazio.

		span::before {
			margin-right: 5px;
		}

		// Centrare icone svg in verticale

		svg {
			vertical-align:middle;
		}

	}

	// Progress bars of health, background red and value green.
	// disabled because not work on firefox.
	/*
	progress#OSID_PLC_HEALTH_progress[value] { background: $red; }
	progress#OSID_PLC_HEALTH_progress[value]::-moz-progress-bar { background: $red; }
	progress#OSID_PLC_HEALTH_progress[value]::-webkit-progress-bar { background: $red; }
	*/

}

.els-sidebar{
	display: flex;
    position: fixed;
    top: 53;
    left: 0;
    height: 100vh;
	width: 200px;
	.sidebar-menu li ion-icon, .sidebar-menu li span{
		vertical-align: middle;
	}
	aside{
		width: 100%;
	}

	/* Icona colorata su menu attivo */
	a.is-active svg {
		color: #009933;
	}
}

/* Stili riguardanti login */

#login.columns{
	height: 100vh;

	input.input{
		background-color: $grey;
		color: #fff;
		border: 2px solid $grey-dark;
		  
		@include placeholder {
			color: $grey-light;
		}

	}
}

@mixin placeholder {
	::-webkit-input-placeholder { @content };
	:-moz-placeholder           { @content };
	::-moz-placeholder          { @content };
	:-ms-input-placeholder      { @content }; 
}

/* Stile freccia select di bulma */

.select:after {
	border-color: $grey-dark !important;
}

/* Stili tag per inserire il testo on e off  in modo di non doverlo cambiare da js */

.tag.automatic-tag.is-success:before {
	content: "ENABLED";
}

.tag.automatic-tag.is-normal:before {
	content: "DISABLED";
}