@charset "utf-8";

/* Stili riguardanti le pagine da loggato */

#main.columns{
	@media screen and (min-width: 1023px) {
		margin-left: 200px;
	}
}

.els-sidebar{
	display: flex;
    position: fixed;
    top: 53;
    left: 0;
    height: 100vh;
	width: 200px;
	.sidebar-menu li ion-icon, .sidebar-menu li span{
		vertical-align: middle;
	}
	aside{
		width: 100%;
	}
}

/* Stili riguardanti login */

#login.columns{
	height: 100vh;
}