@charset "utf-8";

// Set your brand colors

$green: #009933;
$dark: #303030;
$grey-dark: #303030;
$grey: #494949;
$grey-light: #989898;

$success: $green;
$primary: $green;

$body-background-color: #f6f6f6;

// Update some of Bulma's component variables

$control-border-width: 2px;

$navbar-background-color: $green;
$menu-item-hover-background-color: $grey;
$menu-item-active-background-color: $grey;
$navbar-dropdown-item-active-color: white;
$navbar-dropdown-arrow: white;
$navbar-item-hover-color: white;
$navbar-item-color: white;
$navbar-item-hover-background-color: $green;

// Import only what you need from Bulma

@import "../../node_modules/bulma/bulma.sass";

//@import "../../node_modules/bulma/sass/utilities/_all.sass";
//@import "../../node_modules/bulma/sass/base/_all.sass";
//@import "../../node_modules/bulma/sass/elements/button.sass";
//@import "../../node_modules/bulma/sass/elements/container.sass";
//@import "../../node_modules/bulma/sass/elements/title.sass";
//@import "../../node_modules/bulma/sass/form/_all.sass";
//@import "../../node_modules/bulma/sass/components/navbar.sass";
//@import "../../node_modules/bulma/sass/layout/hero.sass";
//@import "../../node_modules/bulma/sass/layout/section.sass";

// Import custom styles

@import "elsist.scss";