@charset "utf-8";

// Sovrascrizioni BULMA

$green: #009933;
$red: #c0392b;
$dark: #303030;
$grey-dark: #303030;
$grey: #989898;
$grey-light: #e5e5e5;

$success: $green;
$primary: $green;

$body-background-color: #f6f6f6;

$control-border-width: 2px;

$navbar-background-color: $green;
$navbar-dropdown-item-active-color: white;
$navbar-dropdown-arrow: white;
$navbar-item-hover-color: white;
$navbar-item-color: white;
$navbar-item-hover-background-color: $green;

$menu-item-hover-background-color: #505050;
$menu-item-active-background-color: #505050;

$input-focus-border-color: $green;

$modal-card-head-background-color: #fff;
$modal-card-head-border-bottom: 0px;
$modal-card-foot-border-top: 0px;

$input-icon-color: $green;
$input-icon-active-color: $green;

// Sovrascrizioni Notie

$notie-color-success: $green;
$notie-color-error: $red;
$notie-font-size-desktop: 0.8rem;
$notie-font-size-widescreen: 0.8rem;

// Import only what you need from Bulma

@import "../../node_modules/bulma/bulma.sass";

// Import only what you need from Notie

@import '../../node_modules/notie/src/notie';

// Import custom styles

@import "elsist.scss";